{{> banner}}
{{> features}}
{{#if succsess_msg }}
<div class="container">
	<div class="alert alert-danger">
		<p>{{succsess_msg}}</p>
	</div>
</div>
{{/if}}

<input type="hidden" value="{{login}}" id="islogin">
<section class="owl-carousel active-product-area section_gap">
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Sản phẩm nổi bật </h1>
					</div>
				</div>
			</div>

			<div class="row">
				{{#each products}}
				<a href="/chi-tiet/{{this.slug}}">
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="{{this.mainImage}}" alt="{{this.slug}}">
							<div class="product-details">
								<h6>{{this.name}}</h6>
								<div class="price">
									<h6>{{currency this.attrs.0.price}}</h6>
								</div>
								<div class="prd-bottom">
									<a>
									</a>
								</div>
							</div>
						</div>
					</div>
				</a>
				{{/each}}
			</div>

		</div>
	</div>
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Sản phẩm sắp tới</h1>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				{{# products}}
				<a href="/chi-tiet/{{this.slug}}">
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="{{this.mainImage}}" alt="">
							<div class="product-details">
								<h6>{{this.name}}</h6>
								<div class="price">
									<h6>{{currency this.attrs.0.price}}</h6>
								</div>
								<div class="prd-bottom">
									<div class="prd-bottom">
										<a>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
				{{/ products}}
			</div>
		</div>
	</div>

</section>
<script src="js/jquery.js"></script>
<script>
	var islogin = $('#islogin').val();
	if (islogin === 'false') {
		$('.islogin').attr('href', '../user/login');
	}
</script>