<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thanh toán</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Thông tin nhận hàng</h3>
                    {{#with currentUser}}
                    <form class="row contact_form" action="./thanh-toan" method="post">

                        <div class="col-md-6 form-group p_star">
                            <label class="control-label">Họ</label>
                            <input type="text" class="form-control" id="first" name="ho" value="{{this.firstName}}"
                                required>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label class="control-label">Tên đệm và tên</label>
                            <input type="text" class="form-control" id="last" name="ten" value="{{this.lastName}}"
                                required>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label class="control-label">Số điện thoại</label>
                            <input type="number" class="form-control" id="number" name="number" value="{{this.tel}}"
                                required>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value="{{this.email}}"
                                required>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label class="control-label">Địa chỉ nhận hàng</label>
                            <input type="text" class="form-control" id="add" name="add"
                                value="{{this.address.0.street}}, {{this.address.0.ward}}, {{this.address.0.district}}"
                                required>

                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label class="control-label">Thành phố</label>
                            <input type="text" class="form-control" id="city" name="city"
                                value="{{this.address.0.city}}" required>
                        </div>
                        {{/with}}
                </div>
                <div class="col-lg-6">
                    <div class="order_box">
                        <h2>Chi tiết đơn hàng</h2>
                        <ul class="list">
                            {{#with cart}}
                            <li><a>Sản phẩm <span>Giá</span></a></li>
                            {{#each items}}

                            <li><a>{{this.item.name}} <span class="middle">x {{this.quantity}}</span> <span
                                        class="last">{{currency this.total}}</span></a></li>
                            {{/each}}
                        </ul>
                        <ul class="list list_2">

                            <li><a>Tổng <span>{{currency totalPrice}}</span></a></li>
                        </ul>
                        {{/with}}
                        <div class="creat_account">

                        </div>
                        <button type="submit" class="primary-btn">Đặt hàng</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>